body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background:ivory;
}

.img-container {
    display: none;
    position: fixed;
    left: 350px;
    top: 100px;
    z-index: 1;
    background:white;
    padding: 3rem;
    align-items: center;
    width: 50%;
    height:50%;
    overflow: auto;
    box-shadow: 0 0 20px black;
}

.fa-arrow-right {
    padding: 1rem;
    color: lightgray;
}

.fa-arrow-right:hover {
    color: black;
}

.fa-arrow-left {
    padding: 1rem;
    color: lightgray;
}

.fa-arrow-left:hover {
    color: black;
}


.show {
    display: flex;
}

.modal-img {
    width: 50%;
    height: 100%;
}

.div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding: 0.5rem;
    box-shadow: 0 0 15px black;
    margin-top: 1rem;
    margin-right: 1rem;
}

.likes {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 50%;
}

.likes1 {
    padding: 0.5rem;
    background:#d2d2d2;
    margin-right: 1rem;
}

.likes2 {
    padding: 0.5rem;
    background:#d2d2d2;
    margin-right: 1rem;
}

.likes3 {
    padding: 0.5rem;
    background:#d2d2d2;
    margin-right: 1rem;
}

.likes1:hover {
    cursor: pointer;
}

.likes2:hover {
    cursor: pointer;
}


.likes3:hover {
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body-info-content {
    width: 75%;
    height: 5rem;
    box-shadow: 0 0 10px black;
    margin: 1rem;
}

.closeBTN {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #2d2d2d;
    padding: 0.3rem 0.5rem;
    border: 1px solid white;
    width: 10%;
    color: white;
    cursor: pointer;
}

.main-nav {
    background:#2d2d2d;
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.nav-items {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-links:hover {
   text-decoration: underline;
    cursor: pointer;
}

.top-content {
    display: flex;
    background:#2d2d2d;
    padding: 1rem;
    height: 2rem;
    width: 30%;
    border: 1px solid white;
}

.lists{
    display: flex;
    width: 100%;
    height:200%;
    align-self: center; 
}

.img-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.main-img-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.btn {
    background: #2f2f2f;
    padding: 0.5rem 0.3rem;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background: ivory;
    color: black;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#2d2d2d;
    color: white;
}

.footer {
    display:flex;
    justify-content: center;
    color:black;
    font-size: 2rem;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:rgb(45, 45, 45);
    color: white;
    height: 50%;
    width: 20%;
    padding: 1rem;
}

.body {
    display: flex;
    background:#2d2d2d;
    color: white;
    padding: 1rem;
}

.body-1 {
    height: 100%;
    width:100%;
    background: rgba(223, 205, 223, 0.133);
    border: 1px solid white;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.body-2 {
    height: 100%;
    width:100%;
    background: rgba(204, 194, 204, 0.133);
    border: 1px solid white;
    padding: 1rem;
    font-size: 1.5rem;
}
